@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
	<head>


	</head>
	<body>
		
		<!-- No intellisense on the class below -->
		<h1 class="text-gray-50">Hello World!</h1>
		
		
		
		@RenderBody()
    
	</body>
</html>